<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.mappers.BlogMapper">
	<resultMap type="Blog" id="blogResult">
		<id property="blogId" column="blog_id" />
		<result property="title" column="title" />
		<result property="createDate" column="create_date" />
		<result property="lastModify" column="last_modify" />
		<result property="accessTimes" column="access_times" />
		<result property="content" column="content" />
		<association property="category" column="cate_id"
			javaType="Category" resultMap="cateResult"></association>
		<collection property="tags" column="blog_id" javaType="ArrayList"
			ofType="Tag" select="selectTagByBlogID" />
	</resultMap>
	<resultMap type="Blog" id="blogResultSimple">
		<id property="blogId" column="blog_id" />
		<result property="title" column="title" />
		<result property="createDate" column="create_date" />
		<result property="lastModify" column="last_modify" />
		<result property="accessTimes" column="access_times" />
		<result property="content" column="content" />
		<result property="brief" column="brief" />
	</resultMap>
	<resultMap type="Category" id="cateResult">
		<id property="cateId" column="cate_id" />
		<result property="pCateId" column="p_cate_id" />
		<result property="cateName" column="cate_name" />
		<result property="describle" column="describle" />
	</resultMap>
	<resultMap type="Tag" id="tagResult">
		<id property="id" column="tag_id" />
		<result property="tagName" column="tag_name" />
		<result property="memo" column="memo" />
	</resultMap>
	<select id="selectBlog" parameterType="Blog" resultMap="blogResult">
		select
		blog_id, title, last_modify, create_date, access_times,
		a.cate_id
		,b.cate_name,c.content from blog a
		left join category b on a.cate_id =
		b.cate_id
		left join content c on a.content_id=
		c.content_id
		<where>
			<if test="blogId != null">
				and a.blog_id= #{blogId}
			</if>
			<if test="category != null and category.cateId != null">
				and b.cate_id = #{category.cateId}
			</if>
		</where>
	</select>
	<select id="selectIndexBlogs" parameterType="_int" resultMap="blogResultSimple">
		select
		blog_id, title, last_modify, create_date, access_times,
		a.cate_id, c.brief from blog a
		left join content c on a.content_id=
		c.content_id
		limit 0, #{rownum};
	</select>
	<select id="selectTagByBlogID" parameterType="long" resultMap="tagResult">
		select b.tag_id, b.tag_name, a.memo from blog_tag a, tag b where
		a.tag_id = b.tag_id
		and
		a.blog_id=#{blogId}
	</select>
	<insert id="insertBlog" parameterType="Blog" useGeneratedKeys="true"
		keyProperty="blogId">
		insert into blog (title,
		create_date, last_modify)
		values
		(#{title},now(),now());
	</insert>
	<insert id="insertTag" parameterType="Tag" useGeneratedKeys="true"
		keyProperty="id">
		insert into tag (tag_name) values (#{tagName});
	</insert>
	<insert id="addTagForBlog" parameterType="Tuple">
		insert into
		blog_tag(blog_id, tag_id) values (#{r},#{l});
	</insert>
	<select id="findTagId" parameterType="String" resultType="long">
		select
		tag_id from tag where tag_name = #{tag_name};
	</select>
</mapper> 